#tower {
    position: relative;
    float: left;
}
#log {
    position: relative;
    width: 400px;
    max-height: 400px;
    overflow-y: auto;
}

#log li {
    border: 1px solid;
    list-style: none;
    padding: 5px;
    margin-bottom: 1px;
}

#log li .game {
    color: green;
}
#log li .turret {
    color: red;
}
#log li .enemy {
    color: blue;
}

#controls {
    position: relative;
    width: 250px;
    float: left;
    margin-left: 10px;
}

.list-group {
    line-height: 18px;
}
.list-group li {
    padding: .3rem 1.25rem;
}

#upgrade-infos button.list-group-item-light {
    cursor: not-allowed;
}